name: Matrix
on: [pull_request]
jobs:
  nodejsjob:
    strategy:
      matrix:
        node-version: [6,8,10]
    runs-on: ubuntu-latest
    steps:
      - name: print nodejs version
        run: |
          node -v
      - name: change nodejs version action
        uses: actions/setup-node@v1
        with:
            node-version: ${{matrix.node-version}}
